body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
}
  
h1{
    font-size: 24px;
    margin-bottom: 20px;
}
  
p{
    margin: 10px 0;
}
  
input[type="text"] {
    width: 15%;
    padding: 10px;
    font-size: large;
    margin-top: 10px;
    text-align: center;
}
  
button{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
    
button:hover{
    background-color: #45a049;
}
